<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>物料添加--后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <style type="text/css">
        .layui-form-item .layui-inline{ width:33.333%; float:left; margin-right:0; }
        @media(max-width:1240px){
            .layui-form-item .layui-inline{ width:100%; float:none; }
        }
        .layui-form-item .role-box {
            position: relative;
        }
        .layui-form-item .role-box .jq-role-inline {
            height: 100%;
            overflow: auto;
        }

    </style>
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;margin-top: 2%;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">物料编号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="itemId" lay-verify="required" placeholder="请输入物料编号">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">物料名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="itemName" lay-verify="required" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">物料组</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="itemGroup" lay-verify="required" placeholder="请输入物料组">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">英文名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="englishName" lay-verify="required" placeholder="请输入英文名称">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">颜色</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="colorName" lay-verify="required" placeholder="请输入颜色">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">材质</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="material" lay-verify="required" placeholder="请输入材质">
            </div>
        </div>
    </div>

    <shiro:hasPermission name="inv:InventTable:add">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="addInvent">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    </shiro:hasPermission>
</form>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/user/inventAdd.js}"></script>
</body>
</html>